
.container{
  margin:0 auto;
  box-sizing: border-box;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgb(207, 31, 75);;
}
.header{

font-size: 20px;
background-color: rgb(207, 31, 75);
}

.col{
  float: left;
  width: 33%;
  
}
img{
  width: 75%;
  height: 200px;
}
.body1{
  margin: 0;
  padding: 0;
}
.body1::after{
  content: "";
  clear: both;
  display: block;
}

*{
  box-sizing: border-box;
}

@media(max-width:600px){
  .col{
      width: 100%;
      margin: 0;
  }
}